.card {
  width: 270px;                
  background: white;
  padding: 16px;               
  border-radius: 12px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  gap: 10px;                     
}

.title {
  font-size: 20px;               
  font-weight: bold;
  margin-bottom: 6px;            
}

p {
  margin: 0;                    
  font-size: 15px;              
}

.status {
  font-weight: bold;
  color: #0077cc;
  margin-top: 8px;
}

.grade {
  font-weight: bold;
  color: #444;
}

.dropBtn {
  margin-top: auto;
  padding: 8px 12px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
  align-self: flex-end;
  justify-self: flex-end;
}

.dropBtn:hover {
  background-color: #c9302c;
}
